In [2]:
from bs4 import BeautifulSoup
from datetime import date, datetime, timedelta
import json
import matplotlib.pyplot as plt
import os
import pandas as pd
import plotly.graph_objects as go
import requests
import sys

sys.path.append('/Users/samuelhmorton/indiv_projects/work/velo-research')
from ratings import utils

In [10]:
with open('../data/eval-data/men-itt-2000-2023-flat-prologue-eval.json') as f:
    prologue_flat_itt_df = json.load(f)
    for key in prologue_flat_itt_df:
        prologue_flat_itt_df[key]['date'] = date.fromisoformat(prologue_flat_itt_df[key]['date'])
f.close()
with open('../data/eval-data/men-itt-2000-2023-none-none-eval.json') as f:
    itt_df = json.load(f)
    for key in prologue_flat_itt_df:
        itt_df[key]['date'] = date.fromisoformat(itt_df[key]['date'])
f.close()
with open('../data/eval-data/men-gc-2000-2023-eval.json') as f:
    gc_df = json.load(f)
    for key in gc_df:
        gc_df[key]['date'] = date.fromisoformat(gc_df[key]['date'])
f.close()

ratings = pd.read_csv('../data/men_velodata.csv')
dates = []
for i in range(len(ratings.index)):
    year = int(ratings.year.iloc[i])
    month = int(ratings.month.iloc[i])
    day = int(ratings.day.iloc[i]) if ratings.day.iloc[i] > 0 else 1
    dates.append(date(year = year, month = month, day = day))
    
ratings.insert(5, 'date', dates)
ratings.drop(columns = ['year', 'month', 'day'], inplace = True)
ratings.sort_values(by = 'date', inplace = True)
ratings.head()

,name,stage,points_scale,parcours_type,date,type,length,profile_score,avg_speed,vertical_meters,won_how,place,rider,team,age,time
1430421,tour-down-under,stage-1,2.1.Stage,p0,2000-01-18,standard,52.2,NaN,46.828 km/h,NaN,? - let us know!,1.0,MOERENHOUT Koos,Farm Frites,26.0,0.0
1430491,tour-down-under,stage-1,2.1.Stage,p0,2000-01-18,standard,52.2,NaN,46.828 km/h,NaN,? - let us know!,71.0,MAIGNAN Gilles,AG2R Prevoyance,31.0,0.0
1430489,tour-down-under,stage-1,2.1.Stage,p0,2000-01-18,standard,52.2,NaN,46.828 km/h,NaN,? - let us know!,69.0,ESTADIEU Laurent,AG2R Prevoyance,24.0,0.0
1430488,tour-down-under,stage-1,2.1.Stage,p0,2000-01-18,standard,52.2,NaN,46.828 km/h,NaN,? - let us know!,68.0,BERGÈS Stéphane,BigMat - Auber 93,25.0,0.0
1430487,tour-down-under,stage-1,2.1.Stage,p0,2000-01-18,standard,52.2,NaN,46.828 km/h,NaN,? - let us know!,67.0,DA CRUZ Carlos,BigMat - Auber 93,25.0,0.0

In [9]:
"""
Features:
r1 itt rating
r1 flat prologue itt rating
r1 mountainous itt rating
r1 gc rating
r1 most recent itt place
r1 most recent itt timegap
r1 2nd most recent itt place
r1 2nd most recent itt timegap
r1 3rd most recent itt place
r1 3rd most recent itt gap
all the same for r2
"""

for key in itt_df:
    if itt_df[key]['date'] > date(year = 2004, month = 1, day = 1):
        
        for i in range(len(itt_df[key]['top_active'])):

{'date': datetime.date(2000, 1, 26),
 'actual': ['LANDIS Floyd',
  'MCCORMACK Frank',
  'CONTRINI Daniele',
  "O'NEILL Nathan",
  'WHERRY Chris',
  'KLASNA Trent',
  'WALTERS Mark',
  'FRASER Gordon',
  'KRISTENSEN Lennie',
  'LEAPER Tom'],
 'timegaps': [0.0, 8.0, 11.0, 13.0, 15.0, 18.0, 20.0, 21.0, 22.0, 28.0],
 'top_active': [['LANDIS Floyd', 1500],
  ['MCCORMACK Frank', 1500],
  ['CONTRINI Daniele', 1500],
  ["O'NEILL Nathan", 1500],
  ['WHERRY Chris', 1500],
  ['KLASNA Trent', 1500],
  ['WALTERS Mark', 1500],
  ['FRASER Gordon', 1500],
  ['KRISTENSEN Lennie', 1500],
  ['LEAPER Tom', 1500]],
 'length': 9.2}